<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
        {% for student in object_list %}
            <li>
                {{ student.Name }} - {{ student.Roll_Number }} - {{ student.Age }} - {{ student.Grade }}
               <button><a href="{% url 'student_edit' student.pk %}">Update</a></button> 
               <button><a href="{% url 'student_delete' student.pk %}">Remove</a></button>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'student_add' %}">Add Student</a>
</body>
</html>
